<script src="/static/js/jquery-2.0.0.min.js" type="text/javascript" charset="UTF-8" ></script>
<script type="text/javascript" src="/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/base/base.js" type="text/javascript" charset="UTF-8" ></script>
<!--IE8只能支持jQuery1.9-->
<!--[if lte IE 8]>
<script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
<![endif]-->

<!--BootStrap 框架-->
<script src="/static/plugins/bootstrap4.0.0/js/bootstrap.bundle.js" type="text/javascript" charset="UTF-8" ></script>
<script src="/static/plugins/bootstrap4.0.0/js/popper.min.js" type="text/javascript" charset="UTF-8" ></script>
<script src="/static/plugins/bootstrap4.0.0/js/bootstrap.js" type="text/javascript" charset="UTF-8" ></script>

<!--niceScroll插件引入-->
<script src="/static/js/base/jquery.nicescroll.js" type="text/javascript" charset="UTF-8" ></script>